body {
    background-color: #E2E2E2;
}
.background-primary{
    background-color: lightslategrey;
}
.background-secondary{
    background-color: darkorange;
}
.text-white{
    color: white;
}
.mylabel {
    background-color: lightslategrey;
    padding: 4px;
    color: white;
    text-decoration: none
}
.mylabel-hover {
    background-color: darkorange;
    padding: 4px;
    color: white;
    text-decoration: none;
    cursor:pointer;
}
.mt10 {
    margin-top: 10px;
}
.mt5{
    margin-top: 5px;
}
.ml5{
    margin-left: 5px;
}
.mg2{
    margin: 2px;
}
.pd5{
    padding: 5px;
}
.font-small{
    font-size:small;
}
.hidden{
    visibility: hidden;
}
#resumePdfObject {
    width: 100%;
    height: 100vh
}
.download-link {
    background-color: darkorange;
    color: white;
    text-decoration: none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.resume {
    margin-left: 3em;
    margin-top: 1em;
}
.img-opaque {
    opacity: .2;
}
.label-opaque{
    opacity: .7;
}
