@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-6">
        <h1 class="rounded mylabel text-center mt5">About me</h1>
        <h6 class="rounded download-link text-center pd5">David Devore - IT Intern</h6>
        <p>
            I am a student at Indiana University Southeast, and I am pursing a degree in Computer Science. 
            This field goes well with who I am. I have always had an interest with computers and more specifically their hardware. 
            I took a class in high school that allowed me to get a A+ certification. Which is for maintaining and repairing computers. 
            I have built three computers designed for running video games, and I try to follow the new hardware that comes out because it interests me.
            <br />
            <br />
            That interest has lead me to take a programming class. If I liked the hardware aspect, I might like working with the software side. 
            It turns out that I did. The work that is assigned to me in my programming courses I enjoy doing, and I also like learning the course material. 
            I am currently an IT Intern for Waystar.
        </p>
    </div>
    <div class="col-4 text-center">
        <img  src="~/Files/testimage.png" alt="Picture of good looking guy" class="img-fluid"/>
    </div>
</div>

