@{ 
    ViewBag.Title = "Contact Info";
}
<div class="row" style="margin-top:10px">
    <div class="col-2"></div>
    <div class="container-fluid col-4">
        <label class="rounded mylabel">Contact Info</label>
        <ul>
            <li>Email: drdcustomlows@gmail.com</li>
            <li>Phone: 812-697-4357(text)</li>
            <li>Address: 3423 Gander Drive, Jeffersonville IN</li>
            <li><a href="http://www.linkedin.com/in/david-devore-774236127" target="_blank">My Linkedin</a></li>
        </ul>
    </div>
</div>