@{ViewBag.Title = "Projects";}
<div >
    <hr style="visibility:hidden"/>
    <div class="row">
        <div class="container-fluid col-6">
            <label class="rounded mylabel" id="personalsitelabel" data-link="https://github.com/davdevor/PersonalSite">Personal Website</label>
            <p>
                This website was made for my Intership to help me learn Asp.net MVC.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="container-fluid col-6">
            <label class="rounded mylabel" id="poetrylabel" data-link="https://github.com/davdevor/AIProject">Poetry Generation</label>
            <p>
                This project was made for my Artificial Intelligence course. The project generates poetry using a Recurrent Neural Network(RNN).
                To implement the RNN we used python and <a href="https://www.tensorflow.org/" target="_blank">Tensorflow's</a> Machine learning framework. You can learn more about RNN's <a href="http://colah.github.io/posts/2015-08-Understanding-LSTMs/" target="_blank">here</a>.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="container-fluid col-6">
            <label class="rounded mylabel" id="geneticlabel" data-link="https://github.com/davdevor/DistributedSystemsProject">Parallel Implementation of a Genetic Algorithm</label>
            <p>
                This project was made for my Distributed Systems course. The project was to take a <a href="https://towardsdatascience.com/introduction-to-genetic-algorithms-including-example-code-e396e98d8bf3"target="_blank">genetic algorithm</a> that solves The Traveling salesperson problem, and 
                to make the algorithm run in parallel. We used C++ to implement the genetic algorithm and to run it in parallel we used <a href="https://en.wikipedia.org/wiki/OpenMP"target="_blank">OpenMP</a>.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="container-fluid col-6">
            <label class="rounded mylabel" id="recipielabel" data-link="https://github.com/IUS-CS/TeamComputer">Recipie Project</label>
            <p>
                This project was made for my Software Development course. The project was to create a website that
                could tell you what types of food you could make based on what you have available. We used Asp.net MVC to build the project
                The project was tool to help us learn about software development. How to use design patterns, how to unit test, use dependency injection, and to see how
                the agile development process works.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="container-fluid col-6">
            <label class="mylabel rounded" id="equationlabel" data-link="https://github.com/davdevor/C490Project">Equation App</label>
            <p>
                This project was made for my Mobile Development course. The project was to create an app that would save and solve equations the user entered. Solving the equations was handled by converting the equations into <a href="https://en.wikipedia.org/wiki/Reverse_Polish_notation"target="_blank">Reverse Polish Notation</a>.
                The project was made for android devices. It helped me learn about the development process for mobile applications and how they differ from other development processes.
            </p>
        </div>
    </div>
</div>