@{ViewBag.Title = "Resume";}
<div class="row">
    <div class="container col-6" style="font-family:Calibri;font-size:inherit; border:solid 1px black; padding:20px; margin-top:10px;">
        <div class="text-center">
            <strong>David Russell Devore</strong>
            <p>
                3423 Gander Drive<br />
                Jeffersonville, IN 47130<br />
                812-697-4357<br />
                drdcustomlows@gmail.com
            </p>
        </div>
        <strong>Summary</strong>
        <div class="resume">
            <p>
                Computer Science major gaining experience with programming.
                Working towards becoming a software engineer.
                Strong mathematical and problem solving skills.
            </p>
        </div>
        <strong>Education</strong>
        <div class="resume">
        <p>
            <i>Indiana University Southeast</i> New Albany, IN <br />
            Expected Graduation Date: 5/2019 <br />
            GPA: 3.9 <br />
            <em>Related Course Work:</em>
            <ul>
                <li>Physics in the Modern World, Brief Survey of Calculus I, II: Discrete Math, Statistics </li>
                <li>Programming I, II: Software Systems, Data Structures, Programming Languages, Database Concepts, Artificial Intelligence, Distributed Systems</li>
            </ul>
            <em>Awards</em>
            <ul>
                <li>Dean's List Spring/Fall 2015-2018</li>
                <li>IUS Student Scholarship</li>
            </ul>
        </p>
    </div>
        <strong>Employment</strong>
        <div class="resume">
            <p>
                1/2017-Present, Computer Science Tutor
                Indiana University Southeast, New Albany IN
                <ul>
                    <li>Assist students with questions or problems with assignments</li>
                </ul>
                5/2016-12/2016, Customer Sales Associate
                Lowe's, Clarksville, IN
                <ul>
                    <li>Operated the cash register: performed returns, completed customer pick up orders</li>
                    <li>Assisted customers with questions they had</li>
                </ul>
            </p>
        </div>
        <strong>Information Technology Certifications</strong>
        <div class="resume" style="padding-top:0em">
            <p>
                <ul>
                    <li>CompTIA A+ (2014-2017)</li>
                    <li>Microsoft Technology Associate with Networking Fundamentals (2014)</li>
                    <li>Windows Operating System Fundamentals (2013)</li>
                </ul>
            </p>
        </div>
        <strong>Extracurriculars</strong>
        <div class="resume">
            7/2017-Present, Vice President of IU Southeast Association for Computing and Machinery
            <ul>
                <li>Assisted with organizing events, Games night, Traning sessions</li>
                <li>handled the meetings and training for the ACM ICPC in fall 2017</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <button class="rounded download-link mx-auto" style="margin-top:5px" onclick="location.href='@Url.Action("DownloadResume")'">Download Here</button> 
</div>