@{ViewBag.Title = "Resume";}
<object data="~/Files/David Devore Resume.pdf" type="application/pdf" id ="resumePdfObject">
    <p>
        It appears you don't have a PDF plugin for this browser.
        <a href="~/Files/David Devore Resume.pdf">
            Click here to
            download the PDF file.
        </a>
    </p>
</object>
<div class="row">
    <label class="rounded mylabel mx-auto" id="downloadresumelabel" data-link="/Home/DownloadResume">Download Here</label>
</div>
@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Scripts/resumescripts")
    <script>
        (function (helper) {
            $(function () {
                helper.downloadresumeId = "downloadresumelabel";
                helper.onready();
            });
        }(ResumeHelper));
    </script>
    }