<div class="row">

    <div class="text-center container-fluid">
        <p>Something went wrong</p>
        <button class="rounded download-link mx-auto" id="backbutton">Go Back</button>
        <img class="" src="~/Files/nomemory.png" />
    </div>
</div>
@section Scripts{
@System.Web.Optimization.Scripts.Render("~/Scripts/errorscripts")
<script>
    (function (helper) {
        $(function () {
            helper.onready();
        });
    }(ErrorHelper));
</script>
    }
