<div class="row">

    <div class="col-6 text-center container-fluid">
        <p>Something went wrong</p>
        <button class="rounded download-link mx-auto" onclick="goBack()">Go Back</button>
        <img src="../Files/nomemory.png" />
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
