<div class="row">

    <div class="col-6 text-center container-fluid">
        <p>This is our server it is having some problems right now</p>
        <img src="../Files/sever-died.png" />
        <button class="rounded download-link mx-auto" onclick="goBack()">Go Back</button>
    </div>
</div>
<script>
function goBack() {
    window.history.back();
}
</script>
