<div class="row">

    <div class="text-center container-fluid">
        <p>This is our server it is having some problems right now</p>
        <button class="rounded download-link mx-auto" id="backbutton">Go Back</button>
        <img src="~/Files/server-died.jpg" />
    </div>
</div>
@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/Scripts/errorscripts")
    <script>
        (function (helper) {
            $(function () {
                helper.onready();
            });
        }(ErrorHelper));
    </script>
}
