<footer class="card-footer hidden" id="footer" >
    <div class="text-center font-small">
        &copy; David Devore. Created with ASP.Net MVC - @DateTime.Now.Year
        <a class="ml5" href="https://github.com/davdevor" target="_blank"><img class="footer-img"src="~/Files/GitHub-Mark-32px.png" id="githubIcon" /></a>
        <a class="ml5" href="http://www.linkedin.com/in/david-devore-774236127" target="_blank"><img class="footer-img"src="~/Files/In-Black-34px-R.png" id="linkedinIcon" /></a>
    </div>
</footer>
